*.weights
_*
*.pb
yolo-v3_INTEL.bin
yolo-v3_INTEL.xml
frozen_yolo_v3.bin
*.mapping
frozen_yolo_v3.xml
frozen_yolo_v3.labels
frozen_tiny_yolo_v3.bin
frozen_tiny_yolo_v3.xml
frozen_tiny_yolo_v3.labels
*.tar.gz
*.pbtxt
openvino_yolov3_test2.py
*.ubuntu
